.boxheader {
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background: red;
}

.header_nav {
    display: flex;
    gap: 20px;
}
